<div class="container">
	<div>
	<acme-navbar></acme-navbar>
</div>
<div class="jumbotron table">
	<span style="background-color: #6f5499">  <h1>Products</h1></span>
<!--
	<table class="table table-striped table-bordered table-condensed table-hover" ng-repeat="product in about.products">
		<thead style="background-color: grey">
			<tr>
						<th>Name</th>
						<th>Description </th>
						<th> Status</th>
				</tr>
			</thead>
			<tbody>
				<tr>
						<td> {{product.ProductName}}</td>
						<td> {{product.ProductDescription}}</td>
						<td> {{product.ProductStatus}}</td>
				</tr>
			</tbody>
	</table> 
-->
	 <div class="row">
		<div class="col-sm-6 col-md-4" ng-repeat="product in about.products">
			<div class="thumbnail" style="background-color: #6f5499">
				<card-view-dir data="product"></card-view-dir>
				
			</div>
		</div>
	</div> 
	
</div>
</div>